<div class="row">
    <div class="col-sm-1"></div>

    <div class="col-sm-8">
        <div class="row order-index-headers" style="text-align: left;">
            <div class="col-sm-6">
                <h2>Orders</h2>
            </div>

            <!-- sort and filter icons/buttons -->
            <div class="col-sm-6" class="sort-filter-div" style="display: flex; justify-content: flex-end; align-items: flex-end; padding-right: 40px">
                
                <!-- sort -->
                <a href="#" class="sort-filter mr-2" id="sort-button">
                    <p style="margin-bottom: 0.5rem;">
                        <i class="fas fa-sort-amount-up"></i> Sort
                    </p>
                </a>
                <select class="custom-select mr-1" style="width: 120px; display: none;" name="by" id="sort-by"></select>
                <select class="custom-select mr-2" style="width: 120px; display: none;" id="sort-text">
                    <option value="ascending">Ascending</option>
                    <option value="descending">Descending</option>
                </select>

                <!-- filter -->
                <a href="#" class="sort-filter" id="filter-button">
                    <p style="margin-bottom: 0.5rem;">
                        <i class="fas fa-filter"></i> Filter
                    </p>
                </a>
                <select class="custom-select mx-1" style="width: 120px; display: none;" name="by" id="filter-by"></select>
                <input class="form-control" style="width: 120px; display: none;" type="text" name="filter" id="filter-text"> 

            </div>
            
        </div>

        <!-- table of orders -->
        <table class="table">
            <thead class="thead-dark">
                <tr id="table-header-names">
                    <th scope="col">#</th>
                    <th scope="col">Name</th>
                    <th scope="col">Product</th>
                    <th scope="col">Quantity</th>
                    <th scope="col">Address</th>
                    <th scope="col">Deliver by</th>
                    <th scope="col">Status</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <% orders.forEach(x => { %>
                    <tr>
                        <th scope="row"><%= orders.indexOf(x) + 1 %></th>
                        <td class="name"><%= x.customer.name %> </td>
                        
                        <td class="product">
                            <% x.orders.forEach(y => { %>
                            <p><%= y.product %></p>
                            <% }) %>
                        </td>
                        
                        <td class="quantity">
                            <% x.orders.forEach(y => { %>
                            <p><%= y.quantity %></p>
                            <% }) %>
                        </td>
                        
                        <td class="address"><%= x.customer.address %> </td>
                        <td class="deliver by"><%= x.shortenDate() %> </td>
                        <td class="status"><%= x.status %> </td>
                        <td>
                            <form action="/order/edit/<%= x._id %>" method="GET">
                                <button class="btn btn-warning">View/edit</button>
                            </form>
                        </td>
                    </tr>
                    
                <% }) %>
            </tbody>
        </table>

        <form action="/order/new" method="GET" style="display: flex; justify-content: center; margin-bottom: 100px;">
            <button class="btn btn-warning" id="new-order-button"><i class="fas fa-plus" id="new-order-icon"></i></button>
        </form>

    </div>

    <!-- statistics board -->
    <div class="col-sm-3">
        <div class="row order-index-headers" style="text-align: left;">
            <h2>Statistics</h2>
        </div>

        <div class="card text-center" style="width: 18rem;">
            <div class="card-body">
                <h5 class="card-title">Deliveries today: </h5>
                <h1 class="card-text"><%= deliveriesToday.length %> </h1>
            </div>
        </div>
        
        <div class="card text-center" style="width: 18rem;">
            <div class="card-body">
                <h5 class="card-title">Orders today: </h5>
                <h1 class="card-text"><%= ordersToday.length %> </h1>
            </div>
        </div>
        
        <div class="card text-center" style="width: 18rem;">
            <div class="card-body">
                <h5 class="card-title">Total unfulfilled: </h5>
                <h1 class="card-text"><%= unfulfilled.length %> </h1>
            </div>
        </div>
        <div class="card text-center" style="width: 18rem;">
            <div class="card-body">
                <h5 class="card-title">Most popular product: </h5>
                <h2 class="card-text" style="font-weight: 600;"><%= mostPopular[0]._id %> </h2>
            </div>
        </div>
    </div>
</div>


<script>
    
</script>