<div class="page-titles">
    <h2>DELIVERIES FOR TODAY</h2>
</div>

<div class="row" style="margin: 2% 2% 0 5%;">

    <!-- delivery list -->
    <div class="col-sm-4" style="max-width: 100%;">
        <table class="table">
            <thead class="thead-dark">
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Name</th>
                    <th scope="col">Product</th>
                    <th scope="col">Contact</th>
                    <th></th>
                    <th></th>
                    <th></th>
                </tr>
            </thead>
            <% ordersToday.forEach(order => { %>

            <tbody>
                <tr>
                    <th scope="row"><%= ordersToday.indexOf(order) + 1 %></th>
                    <td><%= order.customer.name %></td>
                    <td>
                        <% order.orders.forEach(pdt => { %>

                        <p><%= pdt.product %> x <%= pdt.quantity %></p>

                        <% }) %>
                    </td>
                    <td><%= order.customer.phone %></td>
                    <td>
                        <button class="btn btn-warning view-button">View</button>
                    </td>
                    <td>
                        <button class="btn btn-primary locate-button">Locate</button>
                    </td>
                    <td>
                        <form action="/order/fulfill/<%= order._id %>" method="POST">
                            <button type="submit" class="btn btn-primary fulfill-button">Fulfill</button>
                        </form>
                    </td>
                </tr>
            </tbody>

            <% }) %>

        </table>
    </div>

    <!-- map -->
    <div class="col-sm-8" id="map-container"></div>

</div>

<!-- modal -->

<% ordersToday.forEach(order => { %>

<div class="modal-container" style="display: none;">
        
        <div class="card modal-card" style="width: 40rem; height: 20rem;">
            <div class="card-body">
                <h5 class="card-title"><%= order.customer.name %></h5>
                <h6 class="card-subtitle mb-2 text-muted">Contact: <%= order.customer.phone %> </h6>
                <h6 class="card-subtitle mb-2 text-muted">Address: <%= order.customer.address %>, S(<%= order.customer.postal %>) </h6>
                <h6 class="card-subtitle mb-2 text-muted">Ordered on: <%= order.shortenDate() %></h6>
                <p class="card-text">Orders: </p>
                <ul>
                    <% order.orders.forEach(pdt => { %>
                        <li><%= pdt.product %> x <%= pdt.quantity %> </li>
                    <% }) %>
                    
                </ul>
                <br>
                <a href="/order/edit/<%= order._id%> " class="card-link">Edit order</a>
            </div>
        </div>

</div>

<% }) %>


<script>
    
    let $locateBtns = document.getElementsByClassName("locate-button");
    let $viewBtns = document.getElementsByClassName("view-button");

    let addresses = <%- JSON.stringify(addresses) %>;
    let map;
    let markers = [];


    //==================== google maps ====================//


    function initMap() {

        //set map center to Singapore
        let singapore = { lat: 1.3521, lng: 103.8198 };
        let initialView = {
            zoom: 12,
            center: singapore
        }
        map = new google.maps.Map(document.getElementById("map-container"), initialView);
    
        //set markers of customers
        for (let i = 0; i < addresses.length; i++) {
            setTimeout(function() {
                addMarker(addresses[i]);
            }, i * 200)
        }
        
        //set user's location
        if (navigator.geolocation) {
            navigator.geolocation.getCurrentPosition( function(position) {
                let pos = {
                    lat: position.coords.latitude,
                    lng: position.coords.longitude
                };

                let truckIcon = {
                    url: "/images/mover-truck.png",
                    scaledSize: new google.maps.Size(50, 50),
                    origin: new google.maps.Point(0, 0),
                    anchor: new google.maps.Point(0, 0)
                };

                new google.maps.Marker({
                    position: pos,
                    map,
                    animation: google.maps.Animation.DROP,
                    icon: truckIcon
                });

                map.setCenter(pos);
            });
        }
    }


    //add markers to map
    function addMarker(obj) {
        let marker = new google.maps.Marker(
            {
                position: { lat: parseFloat(obj.lat), lng: parseFloat(obj.lng) },
                map,
                animation: google.maps.Animation.DROP
            }
        );
        
        markers.push(marker);

        //text window
        if (obj.text) {
            let infoWindow = new google.maps.InfoWindow({
                content: `<p>${obj.text}</p>`
            });

            marker.addListener("mouseover", function () {
                infoWindow.open(map, marker);
            });

            marker.addListener("mouseout", function () {
                infoWindow.close();
            });
        }
    }

    //interactions with locator buttons
    for (let i = 0; i < $locateBtns.length; i++) {
        $locateBtns[i].addEventListener("click", function() {
            map.setCenter(markers[i].position);
            smoothZoom(16, map.getZoom())
        });
        $locateBtns[i].addEventListener("mouseover", function() {
            markers[i].setAnimation(google.maps.Animation.BOUNCE);
        });
        $locateBtns[i].addEventListener("mouseout", function() {
            markers[i].setAnimation(null);
        }); 
    }


    //for smooth zooming in
    function smoothZoom(max, currentZoom) {
        if (currentZoom >= max) {
            return;
        }
        else {
            z = google.maps.event.addListener(map, 'zoom_changed', function (event) {
                    google.maps.event.removeListener(z);
                    smoothZoom(map, max, currentZoom++);
                });
            setTimeout(function () {
                map.setZoom(currentZoom); 
            }, 100);
        }
    }  


    //==================== modals ====================//

    let $modals = document.getElementsByClassName("modal-container");

    for (let i = 0; i < $viewBtns.length; i++) {
        $viewBtns[i].addEventListener("click", function() {
            $modals[i].style.display = "";
        });        
    }

    for (let i = 0; i < $modals.length; i++) {
        window.addEventListener('click', function (e) {
            if (e.target == $modals[i]) {
                $modals[i].style.display = "none";
            }
        });
    }
    

</script>