<div class="page-titles">
    <h2>DELIVERIES FOR TODAY</h2>
</div>

<div class="row" style="margin: 2% 5% 0 5%;">

    <!-- delivery list -->
    <div class="col-sm-4" style="max-width: 100%;">
        <table class="table">
            <thead class="thead-dark">
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Name</th>
                    <th scope="col">Product</th>
                    <th scope="col">Contact</th>
                    <th></th>qua
                    <th></th>
                    <th></th>
                </tr>
            </thead>
            <% ordersToday.forEach(order => { %>

            <tbody>
                <tr>
                    <th scope="row"><%= ordersToday.indexOf(order) + 1 %></th>
                    <td><%= order.customer.name %></td>
                    <td>
                        <% order.orders.forEach(pdt => { %>

                        <p><%= pdt.product %> x <%= pdt.ntity %></p>

                        <% }) %>
                    </td>
                    <td><%= order.customer.phone %></td>
                    <td>
                        <button class="btn btn-warning">View</button>
                    </td>
                    <td>
                        <button class="btn btn-primary" class="locate-button">Locate</button>
                    </td>
                    <td>
                        <form action="/order/fulfill/<%= order._id %>" method="POST">
                            <button type="submit" class="btn btn-primary" class="fulfill-button">Fulfill</button>
                        </form>
                    </td>
                </tr>
            </tbody>

            <% }) %>

        </table>
    </div>

    <!-- map -->
    <div class="col-sm-8" id="map-container"></div>


</div>

<script>

    function initMap() {

        //set map view on load
        let singapore = { lat: 1.3521, lng: 103.8198 };
        let initialView = {
            zoom: 12,
            center: singapore
        }
        let map = new google.maps.Map(document.getElementById("map-container"), initialView);

        addMarker(map, myHouse);
    }

    //for adding markers to the map
    function addMarker(map, obj) {
        let marker = new google.maps.Marker(
            {
                position: { lat: obj.lat, lng: obj.lng },
                map: map,
                icon: obj.iconURL
            }
        );

        if (obj.text) {
            let infoWindow = new google.maps.InfoWindow({
                content: `<p>${obj.text}</p>`
            });

            marker.addListener("click", function () {
                infoWindow.open(map, marker);
            });
        }

    }

    let myHouse = {
            lat: 1.3571,
            lng: 103.8598,
            text: "Hola",
            iconURL: ""
        }
    
    //locator buttons
    let $locateBtns = document.getElementsByClassName("locate-button");
    // marker.setAnimation(google.maps.Animation.BOUNCE);

</script>